*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
.body2{
    
    height: 200vh;
    width: 100%;
    padding: 50px 100px;
    
    background-size: cover;
    background-image: url('../../image/package.jpg');
}
.card{
    margin-top: 80px;
}